.main{
    display : flex;
    justify-content:  left;
}

.box2{
    flex-direction: column;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    justify-content: right;
    margin-top: 40px;
    padding-left: 20px; 

}

.btn:hover{
    border: 2px solid black;  
    background-color: rgb(72, 145, 209);
    color: rgba(0, 0, 0, 0.952);
    font-weight: bolder;
    cursor: pointer;
}
 
.nav-bar{
    display: flex;
    flex-direction: row ;
    padding: 10px;
    background-color: rgb(1, 5, 9);
    border-radius: 10px;
    color : white;
    font-weight: bolder;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

.list{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 20px;
    font-size: 20px;
}


table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            background-color: black;
        }

        th, td {
            border: 1px solid white;
            padding: 10px;
            color: white;
        }

        th {
            background: #222;
        }

body{
    background-color: rgb(11, 75, 135);
}