.main{
    display : flex;
    justify-content:  left;
}

.box2{
    flex-direction: column;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    justify-content: right;
    margin-top: 40px;
    padding-left: 20px; 
    background-color: rgb(123, 77, 142);

}
.btn{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0,0,0);
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.btn:hover{
    border: 2px solid black;  
    background-color: rgb(33, 4, 36);
    color: rgba(255, 255, 255, 0.952);
    font-weight: bolder;
    cursor: pointer;
   
}
 
.nav-bar{
    display: flex;
    flex-direction: row ;
    padding: 10px;
    background-color: rgb(1, 5, 9);
    border-radius: 10px;
    color : white;
    font-weight: bolder;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    position: sticky;  
    top: -100px;
}
.nav-bar:hover{
    top: 0px;
}

.list{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 20px;
    font-size: 20px;
}


table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            background-color: black;
        }

        th, td {
            border: 1px solid white;
            padding: 10px;
            color: white;
        }

        th {
            background: #222;
        }

body{
    background-color: rgb(31, 32, 33);
}

h3{
    color: white;
    font-weight: bolder;
    font-size: 30px;}

#home{
    padding-top: 100px;
}

#about{
    padding-top: 100px;
}
#project{
    padding-top: 100px;
}
#contact{
    padding-top: 100px;
}

